.box{
  display: none;
}
.downloadCvBtn {
  background: #353b48!important;
  color: #fff!important;
  
}
.patreon-button,
.downloadCvBtn{
border-color: transparent !important;
width: 150px;
}


.downloadCvBtn:hover {
  color: #fff;
  outline: none
}

.downloadCvBtn:focus {
  color: #fff;
  outline: none
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  padding: calc(0.375em - 1px) calc(0.625em - 1px) calc(0.375em - 1px) calc(0.625em - 1px)
}

ul {
  list-style: none
}

button,
input,
select,
textarea {
  margin: 0
}

html {
  box-sizing: border-box
}

*,
::before,
::after {
  box-sizing: inherit
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%
}

body,
button {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace
}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none
}

a strong {
  color: currentColor
}

a:hover {
  color: #363636
}

.is-size-1 {
  font-size: 3rem !important
}

.is-size-2 {
  font-size: 2.5rem !important
}

.is-size-3 {
  font-size: 2rem !important
}

.is-size-4 {
  font-size: 1.5rem !important
}

.is-size-5 {
  font-size: 1.25rem !important
}

.is-size-6 {
  font-size: 1rem !important
}

.is-size-7 {
  font-size: .75rem !important
}

/* phone */
@media screen and (max-width: 768px) {
  .login{
    padding: 20px !important;
    width: 100% !important;
  }


  .myfooter{
    /* padding: 20px; */
    position: relative;
  }
  .myfooter .right a{
    display: block;
  }
   .myfooter .right { 
     display: none;
    /* padding: 0 100px; */
   /* position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
   }

  .postes .card{
    flex-basis: calc(100% - 20px);
  }
  .postes .cards{
    display: inline-block;
    padding: 0 ;

  }

  .blog {
    flex-basis: calc(100% - 20px);
  }

  .singelBlog h6,
  .singelBlog p,
  .singelBlog h3,
  .singelBlog .content span {
    padding: 0 35px;
  }

  /* .singelBlog h3 {
    font-size: 5.6rem;
    width: 100%;
    font-family: Signika,sans-serif;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
  } */

  .my-buttonsPhone {
    display: none;
  }

  .cards {
    margin-top: 50px
  }

  .is-size-1-mobile {
    font-size: 3rem !important
  }

  .is-size-2-mobile {
    font-size: 2.5rem !important
  }

  .is-size-3-mobile {
    font-size: 2rem !important
  }

  .is-size-4-mobile {
    font-size: 1.5rem !important
  }

  .is-size-5-mobile {
    font-size: 1.25rem !important
  }

  .is-size-6-mobile {
    font-size: 1rem !important
  }

  .is-size-7-mobile {
    font-size: .75rem !important
  }

  .myHero {
    padding-top: 100px
  }

  .hero-emage {
    margin-top: 50px !important;
    margin-bottom: 50px !important
  }

  .shap-4 {
    top: 0 !important;
    right: 0;
    height: 500px !important
  }

  .paddingToCard {
    padding: 15px !important
  }

  .container {
    text-align: center
  }



  .my-buttons {
    display: none;
  }

  .disblay-block {
    display: block;
    transition: 50ms;

  }

  .my-buttonsPhone {
    background-color: #363636;
    position: absolute;
    top: 110px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .shap-4 {
    top: 150px !important;
    right: 0;
  }

  .my-buttonsPhone a,
  .patreon-button {
    margin: 20px 0;
    display: flex;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }


  #phoneParsNave {
    left: 85%;
    top: 40px;
    z-index: 1;
    cursor: pointer;
  }

  .logo {
    left: -20px !important
  }

  .whatIOffer {
    margin-top: 0 !important;
    margin-bottom: 100px !important
  }

  .my-title {
    font-size: 32px !important;
    text-align: center
  }

  .subtitle {
    font-size: 1rem !important;
    font-weight: 100 !important;
    text-align: center
  }

  .aboutSection {
    padding: 50px 20px !important;
    margin-bottom: 100px !important
  }

  .padding {
    padding: 0 20px
  }

  .myProject {
    padding: 0
  }

  .desktop {
    display: none
  }

  .gitPtn {
    display: block !important;
    position: absolute;
    right: 5px;
    background: #120d30;
    color: #fff;
    border: none;
    padding: 3px 8px;
    border-radius: 5px
  }

  .gitPtn:focus {
    color: #fff
  }

  .phonePars {
    position: absolute;
    display: block;
    left: 10px;
    color: #120d30;
    font-size: 30px;
    cursor: pointer
  }

  .top-buttonphone {
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    background: #120d30;
    transition: all .5s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
    z-index: 9999
  }

  .top-buttonphone button {
    display: block;
    text-align: center;
    width: 99%;
    background: transparent;
    color: #fff;
    border: none;
    padding: 35px 0
  }

  .top-buttonphone button:focus {
    border: none !important
  }

  .heid {
    transform: scaleY(1)
  }

  .my-card {
    flex-basis: calc(100%) !important
  }

  .havaproject {
    font-size: 23px !important
  }

  .contact {
    height: 50vh !important
  }

  .myEmail {
    font-size: 28px !important
  }

  .socialMedia {
    margin-bottom: 50px
  }

  .aboutSection img {
    display: block;
    margin: auto
  }

  .about .aboutContent {
    text-align: center !important;
    width: 100% !important;
    margin-left: 0 !important
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    color: transparent !important;
    background: transparent !important
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none !important;
    color: transparent !important;
    background: transparent !important
  }

  ::-webkit-scrollbar {
    background-color: transparent !important
  }
}

.is-size-1-desktop {
  font-size: 3rem !important
}

.is-size-2-desktop {
  font-size: 2.5rem !important
}

.is-size-3-desktop {
  font-size: 2rem !important
}

.is-size-4-desktop {
  font-size: 1.5rem !important
}

.is-size-5-desktop {
  font-size: 1.25rem !important
}

.is-size-6-desktop {
  font-size: 1rem !important
}

.is-size-7-desktop {
  font-size: .75rem !important
}

@media screen and (min-width: 1216px) {


  .is-size-1-widescreen {
    font-size: 3rem !important
  }

  .is-size-2-widescreen {
    font-size: 2.5rem !important
  }

  .is-size-3-widescreen {
    font-size: 2rem !important
  }

  .is-size-4-widescreen {
    font-size: 1.5rem !important
  }

  .is-size-5-widescreen {
    font-size: 1.25rem !important
  }

  .is-size-6-widescreen {
    font-size: 1rem !important
  }

  .is-size-7-widescreen {
    font-size: .75rem !important
  }
}

/* taplet */
@media screen and (min-width: 769px) and (max-width: 1215px) {

  .my-buttonsPhone {
    display: none;
  }

  .demo__phone {
    display: none;
  }

  .myProject .cards .my-card {
    flex-basis: calc(100% - 20px);
  }
.mainhero{
  padding-top: 100px;
}
  .shap-4 {
    top: -100px !important;
    right: 0;
    /* display: none; */
  }
  #phoneParsNave{
    display: none;
  }

  .shap-3 {
    /* top: -200px !important; */
    display: block;
  }
}


/* dell */
@media screen and (min-width: 1408px) {

.shap-4{
  /* display: none; */
  top: 220px !important;
  right: 0;
}
.mainhero{
  padding-top:50px ;
}
  .my-buttonsPhone {
    display: none;
  }

  .demo__phone {
    display: none;
  }

  .whatIOfferCardImg {
    height: 300px;
    width: 100%
  }

  .phone {
    display: none
  }


  .is-size-1-fullhd {
    font-size: 3rem !important
  }

  .is-size-2-fullhd {
    font-size: 2.5rem !important
  }

  .is-size-3-fullhd {
    font-size: 2rem !important
  }

  .is-size-4-fullhd {
    font-size: 1.5rem !important
  }

  .is-size-5-fullhd {
    font-size: 1.25rem !important
  }

  .is-size-6-fullhd {
    font-size: 1rem !important
  }

  .is-size-7-fullhd {
    font-size: .75rem !important
  }

  .phonePars {
    display: none !important
  }
}

/* laptop */
@media screen and (min-width: 1216px) and (max-width: 1407px) {

  .blog img {
    height: 250px;
  }

  .my-buttonsPhone {
    display: none;
  }

  .my-title {
    font-size: 38px !important
  }

  .whatIOfferCardImg {
    height: 300px;
    width: 100%
  }

  .contact {
    margin-top: 500px
  }

  .phonePars {
    display: none !important
  }

  .phone {
    display: none
  }

  .hero-emage {
    /* background-image: url(../img/logos/amr.png); */
    margin-top: 80px !important;
    height: 400px !important;
    background-size: cover;
    background-position: center center;
    border-radius: 10px
  }

  .shap-4 {
    position: absolute;
    height: 900px !important;
    width: 1000px;
    top: 40px !important;
    right: 0;
    display: none
  }

  .shap-5 {
    display: inline-block !important;
    position: absolute;
    height: 770px;
    top: 80px;
    right: 0;
    
  }


  .my-content {
    padding: 150px 0 !important
  }
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding: calc(0.375em - 1px) .75em calc(0.375em - 1px) .75em
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px
  }

  .container.is-fluid {
    margin-left: 32px;
    margin-right: 32px;
    max-width: none
  }
}

@media screen and (max-width: 1215px) {
  .container.is-widescreen {
    max-width: 1152px
  }
}

@media screen and (max-width: 1407px) {
  .container.is-fullhd {
    max-width: 1344px
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px
  }
}

.title sup,
.subtitle sup {
  font-size: .75em
}

.title .tag,
.subtitle .tag {
  vertical-align: middle
}

@media screen and (min-width: 769px),

print {

  .column.is-half,
  .column.is-half-tablet {
    flex: none;
    width: 50%
  }
}

.columns.is-vcentered {
  align-items: center
}

@media screen and (min-width: 769px),
print {
  .columns:not(.is-desktop) {
    display: flex
  }
}

@media screen and (min-width: 1024px) {
  .columns.is-desktop {
    display: flex
  }
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.hero.is-halfheight .hero-body,
.hero.is-fullheight .hero-body,
.hero.is-fullheight-with-navbar .hero-body {
  align-items: center;
  display: flex
}

.hero.is-fullheight {
  min-height: 100vh
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem
}

body,
html {
  max-width: 100vw;
  overflow-x: hidden
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  font-weight: 400
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #353b48
}

.my-title {
  font-size: 46px;
  font-weight: 100;
  margin: 0;
  margin-bottom: 20px
}

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px
}

.show {
  display: inline-block !important
}

.content {
  text-align: center
}



.logo {
  position: absolute;
  height: 150px;
  width: 150px;
  left: -50px;
  z-index: 1
}

.my-buttons {
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1
}

.patreon-button {
  background-image: url('https://i.ibb.co/FmPGZnF/download.png');
  background-position: center center;
  background-size: contain;
  width: 150px;
  outline: none
}



.hero-emage {
  background-image: url("https://i.ibb.co/Y74Mqj3/amr.jpg");
  margin-top: -30px;
  height: 450px;
  background-size: cover;
  background-position: center center;
  border-radius: 10px
}

.shap-1 {
  position: absolute;
  width: 500px;
  height: 1000px;
  bottom: -50vh;
  left: -50px
}

.shap-2 {
  position: absolute;
  width: 500px;
  bottom: -50vh;
  right: -60px
}

.shap-3 {
  position: absolute;
  height: 400px;
  top: 100px;
  right: 100px
}

.shap-4 {
  position: absolute;
  top: 70px !important;
  right: 0;
}

.shap-5 {
  display: none
}

.tow-images img {
  width: 50px;
  margin-right: 20px;
  margin-top: 10px
}



.paddingToCard {
  padding: 50px
}

.whatIOffer {
  margin-bottom: 100px
}

.whatIOfferCard {
  box-shadow: 0 0 38px rgba(117, 117, 115, 0.3), 0 0 0 rgba(220, 235, 14, 0.22);
  margin: 10px;
  border-radius: 5px
}

.whatIOfferCard .content {
  text-align: left
}

.aboutSection {
  background: #353b48;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 50px
}

.about {
  max-width: 1000px;
  text-align: center
}

.about img {
  width: 190px;
  user-select: none
}

.about .aboutContent {
  text-align: left;
  display: inline-block;
  width: 50%;
  margin-left: 50px
}

.about .aboutContent p {
  color: #99a0af;
  font-size: 73px;
  font-size: 15px !important;
  line-height: 30px
}

.about .aboutContent h2 {
  color: #c5d4f5
}

.gitPtn {
  display: none
}

.gitPtndicktop {
  background: #3F3D56;
  color: #fff;
  border: none;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 20px 40px;
  float: right
}

.gitPtndicktop:hover {
  color: #fff
}

.myProject {
  height: 100vh;
  margin: 200px 100px 0
}

.dark {
  border-radius: 40px 40px 0 0;
  background: #3F3D56;
  padding: 20px 30px
}

.yalow {
  background: #FFC107;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block
}

.tapyalow .top-button button {
  width: 100%;
  display: block;
  padding: 50px 0;
  background: transparent;
  font-size: 20px;
  outline: none;
  border: none;
  color: #3F3D56;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all .3s cubic-bezier(.25, .8, .25, 1)
}

.tapyalow .top-button button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

.towTaps {
  position: relative
}

.tapyalow {
  position: absolute;
  left: 0;
  width: 30%;
  height: 90vh;
  background: #FFC107;
  display: inline-block;
  border-radius: 0 0 0 40px
}

.tapGray {
  position: absolute;
  height: 90vh;
  right: 0;
  width: 70%;
  background: #e4e4e4;
  display: inline-block;
  overflow: scroll;
  overflow-x: hidden
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 35px;
  width: 100%
}

.my-card {
  flex-basis: calc(33.333% - 20px);
  display: inline-block;
  margin: 10px;
  overflow: hidden
}

.img {
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px
}

.frontend1 {
  background-image: url('https://i.ibb.co/V2jcgnL/1e-commercewith-vue-nuxt-vuex-vuetify-axios.jpg')
}

.frontend2 {
  background-image: url('https://i.ibb.co/WVG5T5G/2spacex-Api.jpg')
}

.frontend3 {
  background-image: url('https://i.ibb.co/fQRyCM5/3moviecinema.jpg')
}

.frontend4 {
  background-image: url('https://i.ibb.co/6N9ZY6P/4egypt-cities.jpg')
}

.frontend5 {
  background-image: url('https://i.ibb.co/ypD49CP/5vue-app-ecommerce-bootstrap.jpg')
}

.uiUx1 {
  background-image: url('https://i.ibb.co/KhspwCL/1profile.jpg')
}

.uiUx2 {
  background-image: url('https://i.ibb.co/C6rBcdV/2-Responsive.jpg')
}

.uiUx3 {
  background-image: url('https://i.ibb.co/B4FTqMB/3-Starnight.jpg')
}

.uiUx4 {
  background-image: url('https://i.ibb.co/689tM5f/5Eclipse.jpg')
}

.uiUx5 {
  background-image: url('https://i.ibb.co/689tM5f/5Eclipse.jpg')
}

.uiUx6 {
  background-image: url('https://i.ibb.co/jLZY7jj/6Colingz.jpg')
}

.uiUx7 {
  background-image: url('https://i.ibb.co/5BW2Ch6/7Acosta.jpg')
}

.uiUx8 {
  background-image: url('https://i.ibb.co/Z1yJTv6/8dron.jpg')
}

.uiUx9 {
  background-image: url('https://i.ibb.co/qDXkmrK/9counsel.jpg')
}

.uiUx10 {
  background-image: url('https://i.ibb.co/3FPW7ww/43kod.jpg')
}

.practic1 {
  background-image: url('https://i.ibb.co/d08pGh2/1.jpg')
}

.my-card p {
  text-align: center
}

.demo__phone {
  position: relative;
  width: 305.25px;
  height: 633px;
  padding-top: 1px;
  background-color: #120d30;
  border-radius: 40px;
  margin: auto;
  margin-bottom: 200px
}

.demo__screen-wrapper {
  position: relative;
  height: 609px;
  width: 281.25px;
  margin-top: 11px;
  margin-left: 12px;
  overflow: hidden;
  border-radius: 30px
}

.demo__screen {
  position: relative;
  overflow: scroll;
  height: 609px;
  width: 290px;
  padding-top: 25px;
  background: #fff;
  border-radius: 30px;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-perspective: 700px;
  perspective: 700px
}

.demo__notch {
  position: absolute;
  top: 11px;
  left: 74.25px;
  height: 22.5px;
  width: 156.75px;
  background-color: #120d30;
  border-radius: 0 0 15px 15px
}

.whiteNotch {
  position: absolute;
  width: 100px;
  left: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 3px 0
}

.cameraLens {
  position: absolute;
  width: 7px;
  right: 20px;
  background: #fff;
  border-radius: 50%;
  padding: 3px 0
}

.contact {
  position: relative;
  height: 100vh
}

.middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center
}

.havaproject {
  font-size: 3.25rem
}

.myEmail {
  font-size: 60px;
  margin-bottom: 50px;
  margin-top: 50px
}

.myEmail:hover {
  color: #3273dc;
  text-decoration: underline
}

.btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #2f3640;
  overflow: hidden;
  position: relative
}

.btn i {
  line-height: 90px;
  font-size: 26px;
  transition: .2s linear
}

.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #fbc531;
  transform: rotate(45deg);
  left: -110%;
  top: 90%
}

.btn:hover::before {
  animation: aaa .7s 1;
  top: -10%;
  left: -10%
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%
  }

  50% {
    left: 10%;
    top: -30%
  }

  100% {
    top: -10%;
    left: -10%
  }
}

